%h1= t('.title', :model => Slide.human_name)

%table
  %tr
    %th= Slide.human_attribute_name(:title)
    %th= Slide.human_attribute_name(:screen_width)
    %th= Slide.human_attribute_name(:screen_height)
    %th= Slide.human_attribute_name(:page_count)
    %th= t(".operation")
  = render :partial => 'slide', :collection => current_objects

= link_to t('.create_link', :model => Slide.human_name), new_object_path
