- f.inputs do
  = f.input :title
  = f.input :url
  -# = f.input :sub_title
  -# = f.input :hint
  = f.input :page_type, :as => :radio, :collection=>['webpage','image']
  = f.input :show_timeout, :hint => '默认为5000ms，即5秒'
- f.buttons do
  = f.commit_button
  %li
    = link_to t('pages.share.back'), objects_path
